.buildSaber {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1100px;
}

.saberWrapper {
    display: flex;

    /* border: solid 1px red; */
    justify-content: center;
}

footer {
    background-color: #023047;
    border-top: solid 8px goldenrod;
    height: 20vh;
}