nav {
    border-bottom: solid 8px goldenrod;
    width: 100%;
    height: 200px;
    background-image: url("https://pbs.twimg.com/media/EktnwRnWkAETjF3.jpg");
    /* background-color: #023047; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blockedButton {
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
    margin-top: 165px;
    font-size: 18px;
    cursor: pointer;
}

body {
    margin: 0;
}

.topItem {
    display: flex;
    justify-content: center;
    /* border: solid 1px white; */
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

h1 {
    color: goldenrod;
}


.topSelect {
    padding: 1vmin;
    font-size: 1.5vmin;
    border: .1vmin solid goldenrod;
    border-radius: .5vmin;
    height: 47px;
    cursor: pointer;
}

input {
    padding: 13px;
    font-size: 2vmin;
    border: .1vmin solid goldenrod;
    border-radius: .5vmin;
    color: var(black);
    outline: none;
    height: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 black, .5px -1px 0 white, -1px .5px 0 white, .5px .5px 0 white;
}

button {
    padding: 5px;
    font-size: 1.5vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}