article {
    width: 75%;
    /* border: solid 5px red; */
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #003049;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}