article {
    height: 70vh;
    min-height: 63vh;
    background-color: #edf2f4;
}

.post {
    border: solid black 1px;
    height: 300px;
    width: 200px;
    display: inline-block;
    margin: 5px;
}